.bg-custom1 {
    background: #990000; /* For browsers that do not support gradients */
}
a.bg-custom1:hover,
a.bg-custom1:focus {
    background: #990000; /* For browsers that do not support gradients */
}

.bg-custom2 {
    background: #990000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#990000, #cc6600); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#990000, #cc6600); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#990000, #cc6600); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#990000, #cc6600); /* Standard syntax */
}
a.bg-custom2:hover,
a.bg-custom2:focus {
    background: #990000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#990000, #cc6600); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#990000, #cc6600); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#990000, #cc6600); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#990000, #cc6600); /* Standard syntax */
}