/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
        background-color: #00bcd4;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #00bcd4;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
        background-color: #00bcd4;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #00bcd4;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #ffffff;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #ffffff;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #ffffff;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #ffffff;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #ffffff;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #ffffff;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #ffffff;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #ffffff;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    .bannerText {
        color: #cc0000;
        font-size: 40px;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 2px 2px 2px #663d00;
        padding-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 31px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: underline;
        padding: 2px;
    }

    .address a, a:hover, a:focus {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 3px;
        word-spacing: 1px;
        color: #800000;
        text-decoration: none;
        padding: 2px;
        background-color: #ffffff;
    }

    .details {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #993333;
        padding: 2px;
    }

    .img {
        width: 100%;
    }

    .buttonStyle {
        padding: 5px 10px;
        margin: 5px 10px;
        background-color: #ffcc80;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .buttonStyle a, a:hover, a:focus {
        background-color: #ffb84d;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
}