<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://svt0722712121140.db.2655960.hostedresource.com:1433;database=svt0722712121140</property>
    <property name="hibernate.connection.username">svt0722712121140</property>
    <property name="hibernate.connection.password">SVTemple@2014</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="show_sql">true</property>
    <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
    <mapping class="com.dronamraju.svtemple.model.User"/>
    <mapping class="com.dronamraju.svtemple.model.Product"/>
   </session-factory>
</hibernate-configuration>