.body {

}

.container-fluid-custom {
    margin-right: 0px;
    margin-left: 0px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.panel {
    -webkit-box-shadow: 5px 5px 5px #a6a6a6;
    box-shadow: 5px 5px 5px #a6a6a6;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 20px;
    border: 1px solid #ffcc80;
    border-radius: 4px;
}

.panel-heading-custom {
    background-color: #ffcc80;
    font-weight: bold;
    color: #800000;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ffcc80;
}

.panel-body {
    background-color: #ffffff;
    font-weight: normal;
}

.rcorners6 {
    border-radius: 15px 50px;
    background-color: #ffe0b3;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px #d9d9d9, 2px 2px 2px 2px #d9d9d9;
    height: 100%;
}

.address {
    color: #800000;
    font-size: 75%;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.otherDetails {
    color: #800000;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media screen and (min-width: 200px)
and (max-width: 1200px) {
    .otherDetails {
        color: #800000;
        font-size: 75%;
        font-style: normal;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

}