.body-footer {
    height: 18px;
    background-color: #800000;
    color:#ffebcc;
    text-align: center;
    font-size: 12px;
}

.imageText {
    padding: 5px;
    width: 100%; /* for IE 6 */
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.imageText a {
    color: #ffffff;
}

.titleStyle {
    width: 100%; /* for IE 6 */
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    font-family: Helvetica;
    color: #ffff00;
    text-shadow: 4px 4px 4px #800000;
}

.redBackground {
    /*background: linear-gradient(to right, #ffc266, #800000, #ffc266); */ /* Standard syntax (must be last) */
    /*background: linear-gradient(to right, #800000, #ffc266, #800000); */ /* Standard syntax (must be last) */
}

.panel {
    color: #800000;
}

.panel-body {
    height: 225px;
}

.panel-default > .panel-heading {
    color: #ffffff;
    background: -webkit-linear-gradient(left, #cc6600, #ff9900, #ff9900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #cc6600, #ff9900, #ff9900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #cc6600, #ff9900, #ff9900); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #cc6600, #ff9900, #ff9900); /* Standard syntax (must be last) */
    border: 1px solid #cc6600;
}

.panel-default > .panel-body {
    border-bottom: 1px solid #cc6600;
    border-left: 1px solid #cc6600;
    border-right: 1px solid #cc6600;
    background-color: #fff5e6;
}


.panel-success > .panel-heading {
    color: #ffffff;
    background: -webkit-linear-gradient(left, #cc6600, #ffc266, #fff5e6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #cc6600, #ffc266, #fff5e6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #cc6600, #ffc266, #fff5e6); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #cc6600, #ffc266, #fff5e6); /* Standard syntax (must be last) */
    border: 1px solid #cc6600;
}

.panel-success > .panel-body {
    border-bottom: 1px solid #cc6600;
    border-left: 1px solid #cc6600;
    border-right: 1px solid #cc6600;
    background-color: #fff5e6;
}

.upComingEvents {
    height: 325px;
}

.templeCalendar {
    height: 325px;
}

.panchangam {
    height: 325px;
}

.templeTimings {
    height: 200px;
}

.dailySchedule {
    height: 200px;
}

.festivals {
    height: 600px;
}

.visionAndMission {
    height: 110px;
}

.boardOfTrustees {
    height: 250px;
}

.executiveCommittee {
    height: 250px;
}

.templeTeam {
    height: 800px;
}

 .navbar-default {
     background-color: #800000;
     border-color: #ae1313;
 }

.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ecdbff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #800000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ecdbff;
    background-color: #ae1313;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #ae1313;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #ae1313;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: #ae1313;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #ae1313;
}
.navbar-default .navbar-toggle {
    border-color: #ae1313;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ae1313;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ecdbff;
}

.table-small-font {
    font-size: 11px;
}

.alert-danger {
    color: #800000;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border: 2px solid #800000;
    border-radius: 5px;
}


@media screen and (min-width: 980px) /* Desktop */ {

}

@media screen  and (max-width: 979px) /* Tablet */ {
    body {
        background: lightseagreen;
    }

    img {
        width: 100%;
    }

    .titleStyle {
        width: 100%; /* for IE 6 */
        text-align: center;
        font-size: 21px;
        font-weight: normal;
        font-family: Helvetica;
        color: #ffff00;
        text-shadow: 4px 4px 4px #800000;
    }

    .imageText {
        padding: 5px;
        width: 100%; /* for IE 6 */
        text-align: center;
        font-size: 13px;
        font-weight: normal;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
    }

    .imageText a {
        color: #ffffff;
    }
}

@media screen  and (max-width: 800px) /* Tablet */ {
    body {
        background: lightgrey;
    }

    img {
        width: 10%;
    }

    .titleStyle {
        width: 100%; /* for IE 6 */
        text-align: center;
        font-size: 11px;
        font-weight: normal;
        font-family: Helvetica;
        color: #ffff00;
        text-shadow: 4px 4px 4px #800000;
    }

    .imageText {
        padding: 5px;
        width: 100%; /* for IE 6 */
        text-align: center;
        font-size: 13px;
        font-weight: normal;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
    }

    .imageText a {
        color: #ffffff;
    }
}

@media screen and (max-width: 500px) /* Mobile */ {
    body {
        background: lightskyblue;
    }

    img {
        width: 0%;
    }

    .titleStyle {
        width: 100%; /* for IE 6 */
        text-align: center;
        font-size: 23px;
        font-weight: normal;
        font-family: Helvetica;
        color: #ffff00;
        text-shadow: 4px 4px 4px #800000;
    }

    .imageText {
        padding: 5px;
        width: 100%; /* for IE 6 */
        text-align: center;
        font-size: 13px;
        font-weight: normal;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
    }

    .imageText a {
        color: #ffffff;
    }
}

