.body-footer {
    height: 18px;
    background-color: #800000;
    color:#ffebcc;
    text-align: center;
    font-size: 12px;
}

.imageText {
    width: 100%; /* for IE 6 */
    position: absolute;
    top: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.imageText a {
    color: #ffffff;
}

.panel {
    color: #800000;
}

.panel-body {
    height: 225px;
}

.panel-default > .panel-heading {
    color: #ffffff;
    font-weight: bold;
    background: -webkit-linear-gradient(left, #ff9900, #cc6600, #ff9900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #ff9900, #cc6600, #ff9900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #ff9900, #cc6600, #ff9900); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #ff9900, #cc6600,#ff9900); /* Standard syntax (must be last) */
}

.panel-success > .panel-heading {
    color: #ffffff;
    font-weight: bold;
    background: -webkit-linear-gradient(left, #003300, #33ff33, #003300); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #003300, #33ff33, #003300); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #003300, #33ff33, #003300); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #003300, #33ff33,#003300); /* Standard syntax (must be last) */
}

.navbar-default .navbar-nav > li > a {
    background-color: #800000;
    color: #ffffff;
    height: 5px;
}
