<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">Vision and Mission</div>
            <div class="panel-body">
                <ul>
                    <li>
                        Build Sri Venkateswara (Balaji) Temple with the back drop of majestic rocky mountains in Castle Rock, Colorado as per Agama & Vasthu shastras.
                    </li>
                    <li>
                        Provide Hindu religious services as per Vedic traditions.
                    </li>
                    <li>
                        To fulfill the cultural and spiritual needs of devotees by promoting Classical music, dance, art, scriptures and meditation.
                    </li>
                    <li>
                        Benefit the future generations with Hindu culture and traditions to be responsible and ethical citizens in promoting world peace and brotherhood.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">Board Of Trustees</div>
            <div class="panel-body">
                <ui>
                    <li>
                        Sri Sathyanarayana Velagapudi, Chairman
                    </li>
                    <li>
                        Sri Jagadeeshwar Kalagiri, Treasurer
                    </li>
                    <li>
                        Sri Ramakrishna Thurimella, Secretary
                    </li>
                    <li>
                        Sri V.J. Chukkapalli
                    </li>
                    <li>
                        Sri Gupta B. Kuna, MD
                    </li>
                    <li>
                        Sri Ramarao Pentela
                    </li>
                    <li>
                        Sri Sreedhar Donthula
                    </li>
                    <li>
                        Sri Baburao Karamsetty
                    </li>
                    <li>
                        Sri Narsimha Reddy Mudupu
                    </li>
                    <li>
                        Sri Nandu Sankaran
                    </li>
                    <li>
                        Sri Dharmendra Apparasu
                    </li>
                </ui>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">Executive Committee</div>
            <div class="panel-body">
                <ui>
                    <li>
                        Sri Nandu Sankaran, President
                    </li>
                    <li>
                        Sri Srinivas Katamaneni, Religious Chair
                    </li>
                    <li>
                        Sri Mohan Koneru, Finance Chair
                    </li>
                    <li>
                        Smt Aruna Maddala, SVTC School Chair
                    </li>
                    <li>
                        Smt Madhuri Mohan, Annapurna Chair
                    </li>
                    <li>
                        Sri Ravichandran Packirisamy, Facilities Chair
                    </li>
                    <li>
                        Sri Saiganesh Rajamani, Web and Communications Chair
                    </li>
                    <li>
                        Sri Srinivas Panati, Temple Manager
                    </li>
                </ui>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">Temple Team</div>
            <div class="panel-body">
                <center>
                    <a href="images/2016SVTCTeam.pdf" target="_blank"><img class="logoSize" src="images/2016SVTCTeamSmall.jpg"/></a>
                </center>
            </div>
        </div>
    </div>
</div>