<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">Google Map</div>
                <div class="panel-body" style="height: 500px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3085.7022255403585!2d-104.8175959850148!3d39.340331579504785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876cbd6c1b02dcd1%3A0xfed373be3e2fc1c9!2s1495+S+Ridge+Rd%2C+Castle+Rock%2C+CO+80104!5e0!3m2!1sen!2sus!4v1458509586348"
                            width="100%"
                            height="450px"
                            frameborder="0"
                            style="border:0"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">Contact Information</div>
                <div class="panel-body" style="height: 500px">
                    <h4>e-mails:</h4>
                    <h5>Please send email to <a href="mailto:manager@svtempleco.org?subject=Info%20about%20Services%20for%20Pooja">manager@svtempleco.org</a> for any Priest Services for any Pooja.</h5>
                    <h5>Please send email to <a href="mailto:info@svtempleco.org?subject=info%20about%20SV%20Temple,%20Colorado">info@svtempleco.org</a> for any info about SV Temple, Colorado.</h5>
                    <h5>Please send email to <a href="mailto:webmaster@svtempleco.org?subject=Web%20related%20issues">webmaster@svtempleco.org</a> for any web related issues.</h5>
                    <h4>Phone Numbers:</h4>
                    <h6>Temple: 303-660-9555</h6>
                    <h6>Manager: 303-898-5514</h6>
                    <h4>Temple Address:</h4>
                    <h6>1495 S Ridge Road, Castle Rock, CO 80104</h6>
                    <h4>Directions from I-25:</h4>
                    <h6>Take exit 181 for Frontage Rd/Plum Creek Pkwy toward Wilcox St</h6>
                    <h6>Turn east (right coming from I-25 South, left coming from I-25 North) onto Plum Creek Pkwy toward Wilcox St</h6>
                    <h6>Turn right onto Ridge Rd</h6>
                    <h6>Continue for about a mile</h6>
                    <h6>Destination will be on the right</h6>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>