<div class="container-fluid">
    <div class="row" style="background-color: #ffdb99; color: #800000">
        <div class="col-lg-2">
            <div class="customBox">Temple Schedule</div>
            <div class="customBox">
                <h5>Weekdays</h5>
                <h5>09.00AM - 12.00PM</h5>
                <h5>06.00PM - 08.30PM</h5>
                <h5>Weekends/Holidays</h5>
                <h5>9.00 AM - 8.30 PM</h5>
                <hr>
                <h5>09:00am - Suprabhatha Seva<br></h5>
                <h5>10:00am - Nitya Archana<br></h5>
                <h5>10:30am - First Archana<br></h5>
                <h5>07:45pm - Last Archana<br></h5>
                <h5>08:00pm - Ekantha Seva<br></h5>
                <h5>Archana – Every 30mins</h5>
            </div>

        </div>
        <div class="col-lg-8">
            <div>
                <img src="images/svTempleBannerNew.jpg" width="100%" height="100%" alt="Sri Venkateswara Swamy Temple of Colorado" />
            </div>
        </div>
        <div class="col-lg-2">
            <br>
            <div class="customBox">Up Coming Events</div>
            <div class="customBox">
                <h4>Ugadi</h4>
                <h5>Thursday, April 7th</h5>
                <hr>
                <h4>Tamil New Year</h4>
                <h5>Thursday, April 14th</h5>
                <hr>
                <h4>Sri Rama Navami</h4>
                <h5>Friday, April 15th</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-success">
                <div class="panel-heading">Temple Calendar</div>
                <div class="panel-body" style="height: 350px">

                    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=svtempleofco%40gmail.com&amp;color=%23691426&amp;ctz=America%2FDenver"
                            style="border-width:0"
                            width="100%"
                            height="300px"
                            frameborder="0"
                            scrolling="no"></iframe>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="panel panel-success">
                <div class="panel-heading">&nbsp;</div>
                <div class="panel-body" style="height: 350px">

                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>