<div class="container-fluid">
    <div class="row" style="background-color: #ffdb99; color: #800000; border: 1px solid #800000; ">
        <div class="col-lg-2">
            <div class="customBox">
                <h5>Temple Timings</h5>
                <h5>Weekdays</h5>
                <h6>09.00AM - 12.00PM</h6>
                <h6>06.00PM - 08.30PM</h6>
                <h5>Weekends/Holidays</h5>
                <h6>9.00 AM - 8.30 PM</h6>
                <h5>Daily Schedule</h5>
                <h6>09:00am - Suprabhatha Seva</h6>
                <h6>10:00am - Nitya Archana</h6>
                <h6>10:30am - First Archana</h6>
                <h6>07:45pm - Last Archana</h6>
                <h6>08:00pm - Ekantha Seva</h6>
                <h5>Archana – Every 30 Mins</h5>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="image">
                <img src="images/svTempleBannerNew.jpg" width="100%" height="100%" alt="Sri Venkateswara Swamy Temple of Colorado" />
                <center><div class="customHeader">1495 S Ridge Road Castle Rock CO 80104 | 3036609555, 303-898-5514 | <a href="mailto:info@svtempleco.org?subject=Info%20about%20Services%20for%20Pooja">info@svtempleco.org</a></div></center>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="customBox">
                <h5>Up Coming Events</h5>
                <hr>
                <h5>Ugadi</h5>
                <h6>Thursday, April 7th</h6>
                <hr>
                <h5>Tamil New Year</h5>
                <h6>Thursday, April 14th</h6>
                <hr>
                <h5>Sri Rama Navami</h5>
                <h6>Friday, April 15th</h6>
                <hr>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">Temple Calendar</div>
                <div class="panel-body" style="height: 350px">

                    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=svtempleofco%40gmail.com&amp;color=%23691426&amp;ctz=America%2FDenver"
                            style="border-width:0"
                            width="100%"
                            height="300px"
                            frameborder="0"
                            scrolling="no"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">Title</div>
                <div class="panel-body" style="height: 350px">
                    Some content goes here...
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>