<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading custStyle">Up Coming Events</div>
            <div class="panel-body custStyle" style="height: 200px">
                <h5>Ugadi</h5>
                <h6>Thursday, April 7th</h6>
                <h5>Tamil New Year</h5>
                <h6>Thursday, April 14th</h6>
                <h5>Sri Rama Navami</h5>
                <h6>Friday, April 15th</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading custStyle">Temple Timings</div>
            <div class="panel-body custStyle" style="height: 200px">
                <h5>Weekdays</h5>
                <h6>09.00AM - 12.00PM</h6>
                <h6>06.00PM - 08.30PM</h6>
                <h5>Weekends/Holidays</h5>
                <h6>09.00AM - 08.30PM</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading custStyle">Daily Schedule</div>
            <div class="panel-body custStyle" style="height: 200px">
                <h6>09:00AM - Suprabhatha Seva</h6>
                <h6>10:00AM - Nitya Archana</h6>
                <h6>10:30PM - First Archana</h6>
                <h6>07:45PM - Last Archana</h6>
                <h6>08:00PM - Ekantha Seva</h6>
                <h6>Archana - Every half an hour after first archana</h6>
                <h6>(Archana schedule may change on special event day)</h6>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>