<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-success">
            <div class="panel-heading">
                Up Coming Events
            </div>
            <div class="panel-body upComingEvents">
                <img src="images/LordVishnu.jpg" width="100%" height="300"/>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Temple Calendar
            </div>
            <div class="panel-body templeCalendar">
                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=svtempleofco%40gmail.com&amp;color=%23691426&amp;ctz=America%2FDenver"
                        frameborder="0"
                        width="100%"
                        height="300"
                        allowfullscreen="true"
                        mozallowfullscreen="true"
                        webkitallowfullscreen="true">
                </iframe>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                Today's Panchangam
            </div>
            <div class="panel-body panchangam">
                <iframe name='iframe1'
                        id='iframe1' src="http://www.mypanchang.com/mobilewidget.php?cityname=Denver-CO&color=452603"
                        scrolling="no"
                        width="100%"
                        height="300px"
                        frameborder="0"
                        style="border:none;"
                        allowTransparency="true">
                </iframe>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">Temple Timings</div>
            <div class="panel-body templeTimings">
                <h5>Weekdays</h5>
                <h6>09.00AM - 12.00PM</h6>
                <h6>06.00PM - 08.30PM</h6>
                <h5>Weekends/Holidays</h5>
                <h6>09.00AM - 08.30PM</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading">Daily Schedule</div>
            <div class="panel-body dailySchedule">
                <h6>09:00AM - Suprabhatha Seva</h6>
                <h6>10:00AM - Nitya Archana</h6>
                <h6>10:30PM - First Archana</h6>
                <h6>07:45PM - Last Archana</h6>
                <h6>08:00PM - Ekantha Seva</h6>
                <h6>Archana - Every half an hour after first archana</h6>
                <h6>(Archana schedule may change on special event day)</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">Daily Schedule</div>
            <div class="panel-body dailySchedule">
                <h6>09:00AM - Suprabhatha Seva</h6>
                <h6>10:00AM - Nitya Archana</h6>
                <h6>10:30PM - First Archana</h6>
                <h6>07:45PM - Last Archana</h6>
                <h6>08:00PM - Ekantha Seva</h6>
                <h6>Archana - Every half an hour after first archana</h6>
                <h6>(Archana schedule may change on special event day)</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading">Daily Schedule</div>
            <div class="panel-body dailySchedule">
                <h6>09:00AM - Suprabhatha Seva</h6>
                <h6>10:00AM - Nitya Archana</h6>
                <h6>10:30PM - First Archana</h6>
                <h6>07:45PM - Last Archana</h6>
                <h6>08:00PM - Ekantha Seva</h6>
                <h6>Archana - Every half an hour after first archana</h6>
                <h6>(Archana schedule may change on special event day)</h6>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                2016 Festivals for DENVER
            </div>
            <div class="panel-body festivals">
                <table class="table table-hover table-condensed table-responsive table-small-font">
                    <thead>
                        <tr>
                            <th>Festival</th>
                            <th>Date</th>
                            <th>Festival</th>
                            <th>Date</th>
                            <th>Festival</th>
                            <th>Date</th>
                            <th>Festival</th>
                            <th>Date</th>
                            <th>Festival</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marghazhi Moolam</td>
                            <td>8-Jan-16</td>
                            <td>Lohri</td>
                            <td>13-Jan-16</td>
                            <td>Bhogi</td>
                            <td>13-Jan-16</td>
                            <td>Makar Samkranti</td>
                            <td>14-Jan-16</td>
                            <td>Thai Pongal</td>
                            <td>14-Jan-16</td>
                        </tr>
                        <tr>
                            <td>Thai
                                Poosam</td>
                            <td>24-Jan-16</td>
                            <td>Rahu
                                Transit</td>
                            <td>29-Jan-16</td>
                            <td>Vasant
                                Panchami</td>
                            <td>12-Feb-16</td>
                            <td>Ratha
                                Saptami</td>
                            <td>14-Feb-16</td>
                            <td>Bhishma
                                Asthami</td>
                            <td>15-Feb-16</td>
                        </tr>
                        <tr>
                            <td>Smartha
                                Bhishma Ekadashi</td>
                            <td>18-Feb-16</td>
                            <td>Vaishnava
                                Bhishma Ekadasi</td>
                            <td>18-Feb-16</td>
                            <td>Maha
                                Shivaratri</td>
                            <td>7-Mar-16</td>
                            <td>Karadyan
                                Nombu</td>
                            <td>13-Mar-16</td>
                            <td>Holika
                                Dahan</td>
                            <td>22-Mar-16</td>
                        </tr>
                        <tr>
                            <td>Dhuleti</td>
                            <td>23-Mar-16</td>
                            <td>Lakshmi Jayanthi</td>
                            <td>22-Mar-16</td>
                            <td>Panguni Uttiram</td>
                            <td>22-Mar-16</td>
                            <td>Ugadi</td>
                            <td>7-Apr-16</td>
                            <td>Bikarami New Year (North India)</td>
                            <td>7-Apr-16</td>
                        </tr>
                        <tr>
                            <td>Chaitra Navaratri Begins</td>
                            <td>7-Apr-16</td>
                            <td>Gudi Padwa</td>
                            <td>7-Apr-16</td>
                            <td>Cheti Chaand</td>
                            <td>7-Apr-16</td>
                            <td>Gauri Tritiya</td>
                            <td>9-Apr-16</td>
                            <td>Smartha
                                Ram Navami</td>
                            <td>14-Apr-16</td>
                        </tr>
                        <tr>
                            <td>Shri Ram
                                Navami (Vaishnava)</td>
                            <td>15-Apr-16</td>

                            <td>Baisakhi</td>
                            <td>13-Apr-16</td>

                            <td>Tamil
                                New Year</td>
                            <td>13-Apr-16</td>

                            <td>Vishu
                                Kani</td>
                            <td>14-Apr-16</td>

                            <td>Hanuman
                                Jayanthi</td>
                            <td>21-Apr-16</td>

                        </tr>
                        <tr>
                            <td>Akshay
                                Tritiya</td>
                            <td>8-May-16</td>

                            <td>Shankaracharya
                                Jayanthi</td>
                            <td>10-May-16</td>

                            <td>Ramanuja
                                Jayanthi</td>
                            <td>11-May-16</td>

                            <td>Raamanuja
                                Jayanthi (Tamil)</td>
                            <td>10-May-16</td>

                            <td>Narasimha
                                Jayanthi</td>
                            <td>19-May-16</td>
                        </tr>
                        <tr>
                            <td>Hanumat
                                Jayanthi (Telugu)</td>
                            <td>31-May-16</td>

                            <td>Shani
                                Jayanthi</td>
                            <td>4-Jun-16</td>

                            <td>Smarth
                                Nirjala Ekadashi</td>
                            <td>15-Jun-16</td>

                            <td>Nirjala
                                Ekadasi</td>
                            <td>15-Jun-16</td>
                            <td>Vata
                                Savitri Vratam</td>
                            <td>19-Jun-16</td>
                        </tr>
                        <tr>
                            <td>Rathayatra</td>
                            <td>5-Jul-16</td>

                            <td>Smartha
                                Shayana Ekadashi</td>
                            <td>15-Jul-16</td>

                            <td>Vaishnava
                                Shayana Ekadasi</td>
                            <td>15-Jul-16</td>

                            <td>Guru
                                Purnima</td>
                            <td>19-Jul-16</td>
                            <td>North
                                Indian Shravan Masa Starts</td>
                            <td>25-Jul-16</td>

                        </tr>

                        <tr>
                            <td>Diwaso,
                                Chittalagi Amavasya</td>
                            <td>2-Aug-16</td>

                            <td>Hariyali
                                Teej</td>
                            <td>5-Aug-16</td>

                            <td>Nagul
                                Chavithi</td>
                            <td>6-Aug-16</td>

                            <td>Naga
                                &amp; Guruda Panchami</td>
                            <td>7-Aug-16</td>

                            <td>Guru
                                Transist</td>
                            <td>11-Aug-16</td>

                        </tr>
                        <tr>
                            <td>Varalakshmi
                                Vratam</td>
                            <td>12-Aug-16</td>

                            <td>Rakhi</td>
                            <td>17-Aug-16</td>

                            <td>Shravani
                                Purnima</td>
                            <td>17-Aug-16</td>


                            <td>Yajurveda
                                Upakarma</td>
                            <td>17-Aug-16</td>


                            <td>Rigveda
                                Upakarma</td>
                            <td>17-Aug-16</td>
                        </tr>
                        <tr>
                            <td>Kajali
                                Tritiya</td>
                            <td>20-Aug-16</td>


                            <td>Bola
                                Choth (Guj)</td>
                            <td>21-Aug-16</td>


                            <td>Naga
                                Panchami (Guj)</td>
                            <td>22-Aug-16</td>


                            <td>Krishna
                                Janmasthami (Smarta)</td>
                            <td>24-Aug-16</td>


                            <td>Krishna
                                Janmasthami (Vaishnava)</td>
                            <td>25-Aug-16</td>

                        </tr>
                        <tr>
                            <td>Gokulashtami</td>
                            <td>25-Aug-16</td>


                            <td>Thiru
                                Onam</td>
                            <td>13-Sep-16</td>


                            <td>Samaveda
                                Upakarma</td>
                            <td>3-Sep-16</td>


                            <td>Haritalika
                                Teej</td>
                            <td>4-Sep-16</td>


                            <td>Ganesh
                                Chaturthi</td>
                            <td>4-Sep-16</td>
                        </tr>
                        <tr>
                            <td>Anant
                                Chaturdashi</td>
                            <td>15-Sep-16</td>


                            <td>Pitrupaksha
                                Starts</td>
                            <td>16-Sep-16</td>


                            <td>Shraddha
                                Paksha Ends</td>
                            <td>30-Sep-16</td>

                            <td>Sharad
                                Navaratra begins</td>
                            <td>1-Oct-16</td>


                            <td>Durga
                                Asthami</td>
                            <td>9-Oct-16</td>
                        </tr>
                        <tr>
                            <td>Maha
                                Navami</td>
                            <td>9-Oct-16</td>

                            <td>Dussera</td>
                            <td>10-Oct-16</td>

                            <td>Kanya
                                Sravanam</td>
                            <td>11-Oct-16</td>

                            <td>Sharad
                                Purnima, Kojagiri</td>
                            <td>15-Oct-16</td>

                            <td>Karwa
                                Chauth</td>
                            <td>18-Oct-16</td>
                        </tr>
                        <tr>
                            <td>Ahoi
                                Asthami</td>
                            <td>22-Oct-16</td>


                            <td>Vasu
                                Baras (Govatsa Dvadashi)</td>
                            <td>26-Oct-16</td>


                            <td>Dhana
                                Trayodashi</td>
                            <td>27-Oct-16</td>


                            <td>Dhanteras
                                Lakshmi Pooja</td>
                            <td>27-Oct-16</td>

                            <td>Kaali
                                Chaudash</td>
                            <td>28-Oct-16</td>
                        </tr>
                        <tr>
                            <td>Narak
                                Chathurdashi</td>
                            <td>29-Oct-16</td>


                            <td>Diwali
                                Lakshmi Puja</td>
                            <td>29-Oct-16</td>


                            <td>Diwali</td>
                            <td>29-Oct-16</td>


                            <td>Gujarati
                                New Year</td>
                            <td>31-Oct-16</td>


                            <td>Yama
                                Dwitiya</td>
                            <td>1-Nov-16</td>
                        </tr>
                        <tr>
                            <td>Bhai
                                Beej</td>
                            <td>1-Nov-16</td>

                            <td>Labha
                                Panchami</td>
                            <td>4-Nov-16</td>


                            <td>Chhath</td>
                            <td>5-Nov-16</td>


                            <td>Smartha
                                Devauthi Ekadasi, Uthana Ekadasi</td>
                            <td>10-Nov-16</td>


                            <td>Vaishnava
                                Devauthi Ekadasi, Uthana Ekadasi</td>
                            <td>10-Nov-16</td>
                        </tr>
                        <tr>
                            <td>Ksheerabdi
                                Dvadashi</td>
                            <td>11-Nov-16</td>


                            <td>Tulasi
                                Vivah</td>
                            <td>11-Nov-16</td>


                            <td>Kartiki
                                Poornima</td>
                            <td>14-Nov-16</td>


                            <td>Kalabhairav
                                Jayanthi</td>
                            <td>20-Nov-16</td>


                            <td>Skanda
                                Shasthi</td>
                            <td>4-Dec-16</td>

                        </tr>
                        <tr>
                            <td>Kartigai
                                Deepam</td>
                            <td>11-Dec-16</td>

                            <td>Dhanurmasa
                                begins</td>
                            <td>15-Dec-16</td>


                            <td>Geeta
                                Jayanthi</td>
                            <td>10-Dec-16</td>


                            <td>Dattatreya
                                Jayanthi</td>
                            <td>13-Dec-16</td>


                            <td>Marghazhi
                                Moolam</td>
                            <td>28-Dec-16</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
