<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading custStyle">Temple Timings</div>
                    <div class="panel-body custPanelBodyStyle">
                        <h5>Weekdays</h5>
                        <h6>09.00AM - 12.00PM</h6>
                        <h6>06.00PM - 08.30PM</h6>
                        <h5>Weekends/Holidays</h5>
                        <h6>09.00AM - 08.30PM</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading custStyle">Daily Schedule</div>
                    <div class="panel-body custPanelBodyStyle">
                        <h6>09:00AM - Suprabhatha Seva</h6>
                        <h6>10:00AM - Nitya Archana</h6>
                        <h6>10:30PM - First Archana</h6>
                        <h6>07:45PM - Last Archana</h6>
                        <h6>08:00PM - Ekantha Seva</h6>
                        <h6>Archana - Every half an hour after first archana</h6>
                        <h6>(Archana schedule may change on special event day)</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://docs.google.com/presentation/d/1aSYmB04l47_H76nsmxxb2h2yiBmN_3ArKLdOj3Lx9J8/embed?start=true&loop=true&delayms=10000" frameborder="0" width="800" height="425" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=svtempleofco%40gmail.com&amp;color=%23691426&amp;ctz=America%2FDenver" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>