<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <div class="panel panel-success">
                <div class="panel-heading">Daily Schedule</div>
                <div class="panel-body">
                    09:00am - Suprabhatha Seva<br>
                    10:00am - Nitya Archana<br>
                    10:30am - First Archana<br>
                    07:45pm - Last Archana<br>
                    08:00pm - Ekantha Seva<br>
                    Archana – Every half an hour after first archana<br>
                    (Archana schedule may change on special event day)
                </div>
            </div>
        </div>

        <div class="col-sm-8">
                <img src="images/svTempleBannerNew.jpg" width="100%" height="100%" alt="Sri Venkateswara Swamy Temple of Colorado" />
        </div>

        <div class="col-sm-1">
            <div class="panel panel-success">
                <div class="panel-heading">Up Coming Events</div>
                <div class="panel-body">
                    <b>Ugadi:</b> Thursday, April 7th<br>
                    <b>Tamil New Year:</b> Thursday, April 14th<br>
                    <b>Sri Rama Navami:</b> Friday, April 15th<br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-success">
                <div class="panel-heading">Temple Calendar</div>
                <div class="panel-body">
                    <iframe src="https://www.google.com/calendar/embed?title=Events%20Calendar&amp;showTabs=0&amp;mode=AGENDA&amp;height=300&amp;wkst=2&amp;hl=en&amp;bgcolor=%23ffcc33&amp;src=svtempleofco%40gmail.com&amp;color=%23875509&amp;ctz=America%2FDenver"
                            style="border:none; "
                            width="100%"
                            height="300px"
                            frameborder="0"
                            scrolling="no"></iframe>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="panel panel-success">
                <div class="panel-heading">Temple Schedule</div>
                <div class="panel-body">
                    <h4>Temple Timings:</h4>
                    Weekdays Morning: 9.00 AM - 12 PM Evening 6 PM - 8.30 PM<br>
                    Weekends/Holidays 9.00 AM - 8.30 PM
                    <h4>Daily Schedule</h4>
                    09:00am - Suprabhatha Seva<br>
                    10:00am - Nitya Archana<br>
                    10:30am - First Archana<br>
                    07:45pm - Last Archana<br>
                    08:00pm - Ekantha Seva<br>
                    Archana – Every half an hour after first archana<br>
                    (Archana schedule may change on special event day)
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>